html{
    box-sizing: border-box;

}
*,
*::after,
*::before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style-type:none;
}

button{
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
body{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.33;
    font-style: normal;
}
.container{
    max-width: 1920px;
    padding: 0 50px;
    margin: 0 auto;
}

.header{
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;   
  min-height: 100vh;
  
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.menu__btn {
    width: 70px;
    height: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.menu__btn span{
    background-color: #FF5017;
    width: 100%;
    height: 3px;
}

.header__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: calc(100vh - 122px);
}
.title{
    font-size: 345px;
    background: linear-gradient(180deg, #000000 0%, #830B02 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    padding-left: 150px;
    line-height: 0.8;
}
.subtitle{
    font-size: 160px;
    background: linear-gradient(90deg, #FF5017 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    align-self: flex-end;
    padding-right: 75px;
    padding-bottom: 53px;
}

.header__images{
    position:absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    margin: auto;
}
.info{
    background-color: #F8F8F8;
    padding-top: 170px;
    padding-bottom: 170px;

}
.section-title{
    text-align: center;
    font-size: 160px;
    line-height: .8;
    text-transform: uppercase;
}
.info__img{
 max-width: 100%;
 margin: 0 auto;
}
.info__content{
    display: flex;
    padding-left: 155px;
    padding-right: 100px;
    gap: 94px;
    margin-bottom: 170px;
}
.info__list{
    column-count: 2;
    gap: 140px;

}
.info__list-key,
.info__list-value{
    display: inline-block;
}
.info__list-item{
    margin-bottom: 22px;
}
.price{
    font-size: 46px;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.order{
    padding: 30px 60px;
    background:linear-gradient(180deg, #FF5017 0%, #FF6837 100%);
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 24px;
}
.info__gallery{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.info__gallery-img{
    border-radius: 20px;
    max-width: 100%;
}
.color{
    background-color: #F8F8F8;
}
.color__gallery{
    margin-top: 110px;
    background-color: #13171C;
}
.color__image-start,.color__image-end{
    width: 100%;
    margin: 0 auto;
}
.color__gallery-box{
    padding: 170px 45px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.color__gallery-box-item{
    text-align: center;
}
.color__gallery-box-img{
    max-width: 100%;
    border-radius: 22px;
    margin-bottom: 20px;
}
.color__gallery-box-description{
    text-transform: uppercase;
    font-size: 36px;
    color: #ffff;
}
.contacts{
    background-color: #13171C;
    padding: 170px 0 115px ;
}
.contacts__title{
    text-align: center;
    color: #FF5017;
    font-size: 36px;
    margin-bottom: 67px;
    text-transform: uppercase;
}
.contacts__box{
 display: flex;
 justify-content: space-between;
 gap: 203px;
 padding-left: 307px;
 padding-right: 143px;
}
.contacts__info{
    max-width: 563px;
}
.contacts__headtext{
    font-size: 24px;
    color: #BCBCBC;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.contacts__text, 
.phone,
.contacts__text-rules{
    color: #fff;
    font-size: 24px;
}
.phone{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 77px;
}
.contacts__text{
    padding-top: 10px;
    max-width: 477px;
}
.contacts__text-rules{
    font-size: 14px;
    max-width: 330px;
}
.form{
    flex-basis: 594px;
}
.form__input{
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 10px;
    max-width: 594px;
    font-size: 24px;
    color: #ffff;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 24px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
}
.form__input::placeholder{
    color: #ffff;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
}
.footer{
    text-align: center;
    padding: 15px 0 90px;
    font-size: 14px;
    color: white;
    background-color: #13171C;
}
.price--white{
    color: #fff;
}
.price--big{
    font-size: 36px;
}
.form__order{
   width: 100%;
}
